In [2]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\dell\anaconda3\lib\site-packages (8.0.27)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\dell\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.1)

In [56]:
import mysql.connector

mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="jhansi123"
)
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000023038A126A0>

In [57]:
import mysql.connector

mydb=mysql.connector.connect(
 host='localhost',
 user='root',
 passwd='jhansi123',
 database='sq'
)    

mycursor=mydb.cursor()

mycursor.execute('SHOW TABLES')

for x in mycursor:
        print(x)

('customers',)

In [58]:
mycursor=mydb.cursor()
mycursor.execute('SHOW TABLES')

for x in mycursor:
    print(x)

('customers',)

In [43]:
sql="INSERT INTO customers(name,address) VALUES(%s,%s)"
val=('raja','highway21')
mycursor.execute(sql,val)
mydb.commit()

print(mycursor.rowcount,"record inserted.")

1 record inserted.

In [59]:
sql="INSERT INTO customers(name,address) VALUES(%s,%s)"
val=[('raja','highway21'),
     ('king','yuvraj 56'),
     ('kamesh','yuvraj 32'),
     ('jhansi', 'rani 45')]
mycursor.executemany(sql,val)
mydb.commit()

print(mycursor.rowcount,"was inserted.")

4 was inserted.

In [46]:
mycursor.execute("SELECT * FROM customers")

myresult=mycursor.fetchall()

for x in myresult:
    print(x)

('raja', 'highway21', 1)
('raja', 'highway21', 2)
('king', 'yuvraj 56', 3)
('kamesh', 'yuvraj 32', 4)
('jhansi', 'rani 45', 5)

In [66]:
sql = "INSERT INTO customers(name,address) VALUES (%s,%s)"
val= [
      ('rajesh','janaki 31'),
      ('radhika','kamesh 41'),
      ('pavani', 'kamesh 32')]

mycursor.executemany(sql,val)
mydb.commit()

print(mycursor.rowcount,"was inserted.")

3 was inserted.

In [60]:
mycursor= mydb.cursor()

sql= "SELECT * FROM customers WHERE  address ='highway21'"

mycursor.execute(sql)

myresult=mycursor.fetchall()

for x in myresult:
    print(x)

('raja', 'highway21', 1)
('raja', 'highway21', 2)
('raja', 'highway21', 6)

In [62]:
mycursor= mydb.cursor()

sql= "SELECT * FROM customers WHERE  address LIKE '%way%'"

mycursor.execute(sql)

myresult=mycursor.fetchall()

for x in myresult:
    print(x)

('raja', 'highway21', 1)
('raja', 'highway21', 2)
('raja', 'highway21', 6)

In [64]:
sql="INSERT INTO customers(name,address) VALUES(%s,%s)"
val=[('raja','highway21'),
     ('king','yuvraj 56'),
     ('kamesh','yuvraj 32'),
     ('jhansi', 'rani 45')]
mycursor.executemany(sql,val)
mydb.commit()

print(mycursor.rowcount,"was inserted.")

4 was inserted.

In [65]:
sql = "INSERT INTO customers(name,address) VALUES (%s,%s)"
val = [
      ('rajesh','janaki31'),
      ('radhika','kamesh41'),
      ('pavani', 'kamesh32')]

mycursor.executemany(sql,val)
mydb.commit()

print(mycursor.rowcount,"was inserted.")

3 was inserted.

In [67]:
mycursor.execute('SELECT * FROM customers')

myresult=mycursor.fetchall()

for x in myresult:
    print(x)

('raja', 'highway21', 1)
('raja', 'highway21', 2)
('king', 'yuvraj 56', 3)
('kamesh', 'yuvraj 32', 4)
('jhansi', 'rani 45', 5)
('raja', 'highway21', 6)
('king', 'yuvraj 56', 7)
('kamesh', 'yuvraj 32', 8)
('jhansi', 'rani 45', 9)
('raja', 'highway21', 10)
('king', 'yuvraj 56', 11)
('kamesh', 'yuvraj 32', 12)
('jhansi', 'rani 45', 13)
('rajesh', 'janaki31', 14)
('radhika', 'kamesh41', 15)
('pavani', 'kamesh32', 16)
('rajesh', 'janaki 31', 17)
('radhika', 'kamesh 41', 18)
('pavani', 'kamesh 32', 19)

In [68]:
import mysql.connector

In [ ]:
import mysql.connector

mydb=mysql.connector.connect(
 host='localhost',
 user='root',
 passwd='jhansi123',
 database='sq'
)

In [69]:
mydb=mysql.connector.connect(
    host='localhost',
    user='root',
    passwd='jhansi123',
    database='sq')

In [70]:
mycursor=mydb.cursor()

mycursor.execute('SHOW TABLES')

for x in mycursor:
    print(x)

('customers',)

In [72]:
sql="SELECT * FROM customers WHERE name ='radhika'"

mycursor.execute(sql)

myresult=mycursor.fetchall()

for x in myresult:
    print(x)

('radhika', 'kamesh41', 15)
('radhika', 'kamesh 41', 18)

In [ ]:
sql="INSERT INTO customers(name,address) VALUES(%s,%s)"
val=('raja','highway21')
mycursor.execute(sql,val)
mydb.commit()

print(mycursor.rowcount,"record inserted.")

In [78]:
sql = "INSERT INTO customers(name,address) VALUES (%s,%s)"
val = ('vamsi','vamsi 45')

mycursor.execute(sql,val)

mydb.commit()

print(mycursor.rowcount,"was inserted.")

1 was inserted.

In [79]:
mycursor=mydb.cursor()

In [82]:
mycursor.execute('SELECT * FROM customers')

myresult=mycursor.fetchall()

for y in myresult:
    print(y)

('raja', 'highway21', 1)
('raja', 'highway21', 2)
('king', 'yuvraj 56', 3)
('kamesh', 'yuvraj 32', 4)
('jhansi', 'rani 45', 5)
('raja', 'highway21', 6)
('king', 'yuvraj 56', 7)
('kamesh', 'yuvraj 32', 8)
('jhansi', 'rani 45', 9)
('raja', 'highway21', 10)
('king', 'yuvraj 56', 11)
('kamesh', 'yuvraj 32', 12)
('jhansi', 'rani 45', 13)
('rajesh', 'janaki31', 14)
('radhika', 'kamesh41', 15)
('pavani', 'kamesh32', 16)
('rajesh', 'janaki 31', 17)
('radhika', 'kamesh 41', 18)
('pavani', 'kamesh 32', 19)
('vamsi', 'vamsi 45', 20)

In [85]:
mydb=mysql.connector.connect(
    host='localhost',
    user='root',
    passwd='jhansi123',
    database='sq')

In [86]:
mycursor=mydb.cursor()

In [90]:
mycursor.execute("SELECT * FROM customers WHERE address LIKE '%way%'")

myresult=mycursor.fetchall()

print(myresult)

[('raja', 'highway21', 1), ('raja', 'highway21', 2), ('raja', 'highway21', 6), ('raja', 'highway21', 10)]

In [91]:
mycursor.execute("SELECT * FROM customers WHERE address LIKE '%way%'")

myresult=mycursor.fetchall()

for x in myresult:
    print(x)

('raja', 'highway21', 1)
('raja', 'highway21', 2)
('raja', 'highway21', 6)
('raja', 'highway21', 10)